/* .expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;
    border-radius: 30px;
    background-color: lightseagreen;
} */
.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  border-radius: 12px; */
  padding: 0.5rem;
  margin: 1rem;
  background-color: lightseagreen;
}
.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  min-width: 80px;
  background-image: linear-gradient(45deg, rgba(191, 48, 48, 0.76), rgba(0, 0, 0, 0.53) 100px);
  border-radius: 30px;
  box-shadow: 0px 0px 6px rgb(119 80 77);
  margin-right: 6px;
}
.expense-item__description {
  display: flex;
  gap: 1rem;
  align-items: center;
}
  .expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    min-width: 80px;
    background-image: linear-gradient(45deg, rgba(191, 48, 48, 0.76), rgba(0, 0, 0, 0.53) 100px);
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 3px 2px;
    margin-right: 6px;
}
  
  @media (min-width: 580px) {
    /* .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    } */
  
    .expense-item__description h2 {
      font-size: 1.25rem;
    }
  
    .expense-item__price, .expense-item__date {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
    .expense-item__date {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
      }
   
  }